<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="webjars">
        function doAjax() {
            $.ajax({
                url : 'main',
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json',
                mimeType: 'application/json'
            });
        }
    </script>
</head>
<body>
<button onclick="doAjax()">Load info</button>
</body>
</html>